body{
	background-color: #F2FFFC;
	font-family: "Crimson Text", serif;
	font-size: 20px;
	line-height: 1.5;
}
main{
	float: left;
	width: 85%;

}
.conteiner{
	width: 940px;
	margin: 0 auto;
}
main h1{
	font-size: 60px;
	background-color: #851944;
	color: #F2FFFC;
	text-align: center;;
	font-family: "open-sans Condensed",sans-serif;
	padding: 20px;
	margin: 0;
	text-transform: uppercase;
	border-bottom: 10px solid #000;

}
h2{
	font-size: 40px;
	font-family: "open-sans",sans-serif;
	clear: both;
}
p{
	text-align: justify;
	margin:30px 0;
}
blockquote{
	background-color: #D3DDDA;
	padding: 16px;
	border:10px solid #C2CCCA;
	width: 250px;
	margin:0;
	box-sizing: border-box;
}
strong{
	font-weight: 600;
}
em{
	font-style: italic;
}
aside{
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	padding: 20px;
	font-family: "open-sans Condensed", sans-serif;
	clear: right;
	position: relative;
	top: 183px;	
	width: 15%;
}
.minha-foto{
	position: absolute;
	top: 0;
	right: 0;
	width: 17%
}
aside, .minha-foto{
	float: right;
	box-sizing: border-box;
	border-left: 10px solid #000;
	border-bottom:10px solid #000;
}
nav a{
	color: inherit;
}
.icones-sociais li{
	display: inline-block;
}
.icones-sociais a{
	width: 42px;
	height: 42px;
	display: inline-block;
	text-indent: -9999px;
}
.github{
	background-image: url(github.png);
}
.linkedin{
	background-image: url(linkedin.png);
}
.facebook{
	background-image: url(face.png);
}
nav h1{
	font-size: 30px;
	margin-bottom: 25px;
}
footer{
	background-color: #000;
	color: #F2FFFC;
	padding: 20px;
	clear: both;
}
.fiat{
	float: right;
	margin-left: 15px;
}
.petrobras{
	float: left;
	margin-right: 15px;
}