h2{
	background-color:#5599DD;
	color:#DDDDDD;
	padding-top:5px;
	padding-left:5px
}
.exp{
	text-indent:50px
}
#email{
	text-decoration:underline;
	font-style:italic;
}
#cabecalho{
	text-align: center;
}
body{
	font-family:Arial,Helvetica;
	width:940px;
	margin-right:auto;
	margin-left:auto;
}