body{
	background-color: #F5F0DC;
	font-family: Helvetica, Arial, sans-serif;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

h2{
	background-color: #B3A742;
	background: -moz-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background: -webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);/*Chrome*/
	background: -ms-linear-gradient(top, #9C8F67, #C7BE9B 30%);/*I.E. 10*/
	background: -o-linear-gradient(top, #9C8F67, #C7BE9B 30%);/*Opera*/
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
	color:#FFFFFF;
	border: 1px solid black;
	border-radius: 15px;
}
nav{
	width: 200px;
	float: left; 	
}
nav ul li{
	background-color: #C7BE9B;
	margin-bottom: 3px;
}
nav ul li:hover{
	background-color: #9C8F67;
}
nav ul li a{
	text-decoration: none;
	color: black;
}
nav ul{
	list-style: none;
	padding-left: 0;
}
#banner{
	top: 0;
	right: 0;
	position: fixed;
}
#conteudo{
	width: 740px;
	float: right;
}
#topo{
	text-align: center;
}
figure{
	background-color: white;
	width: 450px;
	text-align: center;
	padding: 15px;
	font-family: 'Comic Sans MS', cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
	-moz-transform:rotate(-5deg);
	-webkit-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
}
#topo figure img{
	width: 450px;
}

#tb-nutrientes{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	border-radius: 15px;
}
#tb-nutrientes th{
	background-color: green;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
